{% extends "base.html" %}

{% block content %}

    <h2>Cadastro de Cirurgiões</h2>

    <form action="submit" method="POST"> {% csrf_token %}
        <label>Nome:</label> <br>
        <input type="text" name="nome" size="18" value="{{ cirurgiao.nome }}"> <br>

        <label>Telefone:</label> <br>
        <input type="text" name="telefone" size="18" value="{{ cirurgiao.telefone }}"> <br>

        <label>Email:</label> <br>
        <input type="text" name="email" size="18" value="{{ cirurgiao.email }}"> <br>

        <label>CPF:</label> <br>
        <input type="text" name="cpf" size="18" value="{{ cirurgiao.cpf }}"> <br>

        <label>CMR:</label> <br>
        <input type="text" name="crm" size="18" value="{{ cirurgiao.crm }}"> <br>

        <button type="submit">Salvar</button>
    </form>

    <!--Cancelar: volta ao inicio da página-->
    <a href="/">
        <button type="submit">Cancelar</button>
    </a>

{% endblock %}