{% extends "model-page.html" %}

{% block content %}

<h2>Cadastro de Clientes</h2>

<form action="submit" method="POST"> {% csrf_token %}
    <label>Nome:</label> <br>
    <input type="text" name="nome" size="18" value="{{ cliente.nome }}"> <br>

    <label>Telefone:</label> <br>
    <input type="text" name="telefone" size="18" value="{{ cliente.telefone }}"> <br>

    <label>Email:</label> <br>
    <input type="text" name="email" size="18" value="{{ cliente.email }}"> <br>

    <label>CPF:</label> <br>
    <input type="text" name="cpf" size="18" value="{{ cliente.cpf }}"> <br>

    <label>RG:</label> <br>
    <input type="text" name="rg" size="18" value="{{ cliente.rg }}"> <br>

    <label>Profissão:</label> <br>
    <input type="text" name="profissao" size="18" value="{{ cliente.profissao }}"> <br>

    <button type="submit">Salvar</button>
</form>

<!--Cancelar: volta ao inicio da página-->
<a href="/">
    <button type="submit">Cancelar</button>
</a>

{% endblock %}