<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <title>Programa Hospital</title>

    <h1>Hospital Saint Ultima</h1>
        
    <!-- Cadastrar novos clientes -->
    <a href="cliente">
        <button type="submit">Cadastrar novo cliente</button>
    </a>
    <!-- Listar Clientes-->
    <a href="listar_clientes">
        <button type="submit">Clientes cadastrados</button>
    </a>

    <!-- Cadastrar novos Cirurgioes -->
    <a href="cirurgiao">
        <button type="submit">Cadastrar novo cirurgiao</button>
    </a>
    <!-- Listar Cirurgioes-->
    <a href="listar_cirurgioes">
        <button type="submit">Cirurgioes cadastrados</button>
    </a>

    {% include "model-footer.html" %}

</body>
</html>